<!DOCTYPE html>
<html lang = "ch">
<head>
	<!--meta tags-->
	<meta charset = "utf-8">

	<!--style-->
	<link rel = "stylesheet" type = "text/css" href = "stylesheets/bootstrap.min.css"/>
	<link rel = "stylesheet" type = "text/css" href = "stylesheets/login.css"/>
	<link rel = "stylesheet" type = "text/css" href = "stylesheets/validate.css"/>
	<link rel = "stylesheet" type = "text/css" href =
			"http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<title>注册章鱼留学账号</title>
</head>

<body>

<!--javascript-->
<script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.4.js"></script>
<script type = "text/javascript"
        src = "https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.js"></script>
<script type = "text/javascript" src = "js/bootstrap.min.js"></script>
<script type = "text/javascript" src = "js/login.js"></script>
<div class = "container-fluid">
	<div class = "back">
		<button id = "back" type = "button" class = "btn btn-back" onclick = "location.href='/main'">返回主页
	</div>
	<!--logo+title-->
	<div class = "my_title row mx-auto">
		<div class = "col-12 text-center">
			<img src = "icons/logo_small.png" alt = "" class = "ml-3">
		</div>
		<div class = "col-12 text-center">
			<h1 class = "font-weight-bold">章鱼留学问问</h1>
		</div>
	</div>


	<div class = "my_login row mx-auto">
		<div class = "col form-size">
			<div class = "row mt-2 mb-5">

				<!--log in/ signup-->
				<div class = "text-center span4">
					<button id = "loginBtn" type = "button" class = "btn btn-sign-log" onclick = "location.href='/login'">登录
					</button>
				</div>
				<div class = "text-center span4">
					<button id = "signUpBtn" type = "button" class = "curr_choice btn btn-sign-log" onclick = "location.reload()">
						注册
					</button>
				</div>
			</div>

			<!--"Octopedia_Users.asp" -->
			<form action = "#" method = "post" id = "sign_up_form" onsubmit = "return false">
				<!--user-->
				<div class = "row mb-4 mt-2">
					<div class = "form-inline form-size">
						<label for = "username"></label>
						<i class = "fa fa-user fa-lg ml-3 col-2 text-center"></i>
						<input type = "text" class = "form-control col-8" placeholder = "用户名" name =
								"username" id = "username">
					</div>
				</div>

				<!--password-->
				<div class = "row mb-4 form-size">
					<div class = "form-inline form-size">
						<label for = "password"></label>
						<i class = "fa fa-lock fa-lg ml-3 col-2 text-center"></i>
						<input type = "password" class = "form-control col-8" placeholder = "密码" name =
								"password" id = "password">
					</div>
				</div>

				<!--phone-->
				<div class = "row  mb-4">
					<div class = "form-inline form-size">
						<label for = "phoneNumber"></label>
						<i class = "fa fa-phone fa-lg ml-3 col-2 text-center"></i>
						<input type = "tel" class = "form-control col-8" placeholder = "手机号" name =
								"phoneNumber" id = "phoneNumber">
					</div>
				</div>

				<!--captcha-->
				<div class = "row  mb-5">
					<div class = "form-inline form-size">
						<label for = "captcha"></label>
						<button id = "sendCaptchaBtn" type = "button" class = "btn col-4 ml-2 send_code" onclick = "sendCode()">
							发送验证码
						</button>
						<input type = "text" class = "form-control col-6" placeholder = "请输入验证码" name =
								"captcha" id = "captcha">
					</div>
				</div>

				<!--submit-->
				<div class = "row mb-5 mt-5">
					<div class = "mx-auto col">
						<button id = "signupButton" type = "button" class = "btn btn-block btn-submit" onclick = "signUp()">注册
						</button>
					</div>
				</div>
			</form>
			<script>
          // validate signup form on keyup and submit
          $("#sign_up_form").validate({
              debug: true,

              onfocusout: function (element) {
                  $(element).valid();
              },
              // the errorPlacement has to take the table layout into account
              errorPlacement: function (error, element) {
                  error.insertAfter(element);
              },

              rules: {
                  username: {
                      required: true,
                      remote: "users.action"
                  },
                  password: {
                      required: true,
                      minlength: 8,
                      maxlength: 20
                  },
                  phoneNumber: {
                      required: true,
                      minlength: 11,
                      maxlength: 11,
                  },
                  captcha: {
                      required: true,
                      minlength: 4,
                      remote: "captcha.action"
                  }
              },

              messages: {
                  username: {
                      required: "请填写昵称",
                      remote: jQuery.validator.format("该昵称已被使用")
                  },
                  password: {
                      required: "密码长度为8-20",
                      minlength: "密码长度为8-20",
                      maxlength: "密码长度为8-20"
                  },
                  phoneNumber: {
                      required: "请输入手机号",
                      minlength: "请填写正确的中国大陆地区手机号",
                      maxlength: "请填写正确的中国大陆地区手机号",
                      remote: jQuery.validator.format("请填写正确的中国大陆地区手机号")
                  },
                  captcha: {
                      required: "...................请输入验证码",
                      minlength: "...................验证码输入错误",
                      remote: "...................验证码输入错误"
                  }
              },

              // specifying a submitHandler prevents the default submit, good for the demo
              submitHandler: function () {
                  alert("submitted!");
              },
              // set this class to error-labels to indicate valid fields
              success: function (label) {
                  // set &nbsp; as text for IE
                  label.html("&nbsp;").addClass("checked");
              },
              highlight: function (element, errorClass) {
                  $(element).parent().next().find("." + errorClass).removeClass("checked");
              },
          });
			</script>
		</div>
	</div>
</div>

</body>
</html>